$cell-size: 14px;
$pale: #EAFDE6;
$light-green: #BEF202;
$green:#88C425;

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  border: 1px solid $pale;
  width: $cell-size;
  height: $cell-size;
  margin: 0;
  padding: 0;
}

.young {
  background: $light-green;
}

.mature {
  background: $green;
}

.dead {
  &:hover {
    background: $pale;
  }
}
